* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NEXT ART', sans-serif;
}

nav {
    height: 80px;
    background: rgb(60, 150, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    font-family: 'NEXT ART', sans-serif;
    font-size: 2vh;
}

body {
    margin: 0;
    color: black;
    font-family: 'NEXT ART', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5;
    background-color: rgb(185, 215, 235);
}

.hero {
    background-size: cover; 
    background-position: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.column h1 {
    font-size: 8ch;
}

.column p {
    font-size: 4ch;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 20px 30px;
    background-color: rgb(250, 250,);
    color: rgb(0,0,0);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 2px; 
    flex-grow: 1;
    font-family: 'NEXT ART', sans-serif;
}

.hero .btn {
    margin: 10px 30px;
    
}

.card {
    position: relative;
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    flex: 0 1 calc(30% - 20px);
    transition: .3s all ease;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'NEXT ART', sans-serif;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.card img {
    transition: transform 0.5s ease; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px; 
    height: 100%;
    background-color: rgb(60, 150, 230);
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    transition: width 0.75s ease; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card:hover .description {
    width: 150px; 
}

.text-hidden {
    visibility: hidden;
}
.card:hover .text-hidden {
    visibility: visible;
}

.description p{
    margin-left: auto;
    margin-right: 10px;
    transition: none;
}

.description h4 {
    margin-left: 10px;
    margin-right: auto;
    font-size: 3vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
  
.popup, .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    border-radius: 10px;
    z-index: 1000;
    width: 500px; 
    height: 480px; 
    max-width: 90vw;
    max-height: 90vh;
}
  
.popup-content {
    background-color: rgb(60, 150, 230);
    flex-direction: column;
    padding: 23px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}

.close-btn {
    position: fixed; 
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: black;
    padding: 5px;
}


@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(90% - 20px); 
    }
}

.create-container {
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}


/* COUNTDOWN TIMER*/
.countdown {
    position: fixed;
    top: 0px; 
    right: 10px; 
    width: 150px;
    height: 10px;
}
.countdown p {
    font-size: 2vh;
    margin-top: 75px;
    right: 50px;
    position: absolute;
}

.startStopButton,
.restartButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(239, 229, 229);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    border: none;
    font-family: 'NEXT ART', sans-serif;
}

.startStopButton {
    top: 120px;
    left: 20px;
    
}

.restartButton {
    top: 175px; 
    left: 20px;
}

.armsExercises, .legsExercises, .chestExercises, .coreExercises, .buttExercises, .backExercises{
    display: auto;
    flex-direction: column;
    align-items:  flex-start; 
    margin-top: 200px;
}

.armsExercises h2, .ex-description, .legsExercises, .chestExercises, .coreExercises, .buttExercises, .backExercises{
    font-size: 20px;
    text-align: center;
}

.ex-names {
    font-size: 2vh;
    position: absolute; /* Positioning the exercise names */
    top: 80px; 
    left: 10px; 
}


/* CREATE POPUP */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    border-radius: 10px;
    z-index: 1000;
    width: 450px; 
    height: auto; 
    max-width: 90vw;
    max-height: 90vh;
}

.modal-content {
    background-color: rgb(60, 150, 230);
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: 100%; 
    height: 100%; 
    max-width: 800px; 
    max-height: 600px; 
    overflow-y: auto;
    position: flex;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-items: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.search-results {
    max-height: 200px; /* Example height */
    overflow-y: auto; /* Add scrollbar when content exceeds the height */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    padding: 10px; /* Example padding */
    background-color: #fff; /* Example background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Example box shadow */
    font-family: 'NEXT ART', sans-serif;
}


.search-results p {
    margin: 5px 0;
    cursor: pointer;
}

.search-results p:hover {
    background-color: #f0f0f0;
}

.deleteAllButton,
.startExButton {
    padding: 10px 20px;
    left: 200px;
    font-size: 16px;
    background-color: rgb(239, 229, 229);
    border-radius: 10px;
    position: flex;
    right: 20px;
    border: none;
    font-family: 'NEXT ART', sans-serif;
}
#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'NEXT ART', sans-serif;
  }
  
  /* Optional: Highlight the input on focus */
#searchInput:focus {
    outline: none;
    border-color: dodgerblue;
  }

/* Стили для кнопки удаления */
.delete-one-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; /* Жирный текст */
    outline: none; /* Убираем фокусную рамку */
    margin-left: 10px;
}

.close {
    color: black;
}